.spinner-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.spinner-image {
  width: 24px;
  height: 24px;
  animation: spin 1.5s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}