# Force a single version of react plugins
shallow-firewalls=false
strict-peer-dependencies=false
resolve-peers-from-workspace-root=true
hoist-pattern[]=*eslint*
hoist-pattern[]=*babel*
hoist-pattern[]=*react*